<!-- SECTION 0 - GET STARTED -->
<div class="finder_section" data-value="0" id="section_0">
<div class="finder-main-section main-section" id="mainsection">  

    <div class="finder-wrapper c-wrapper c-wrapper-bg-transparent container-fluid layout top-of-page">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="start-button-wrapper">
                    <div class="row">

                        <div class="tool-start col-md-8">
                            <h2 class="top-of-page">How this tool can help you</h2>
                            <p class="start-lead">If you’re doing business in Australia, this guided search will help you find grants, funding and support programs from across government.</p>
                            <p class="start-lead">Answer a few questions about your business to find grants and programs you may be eligible for.</p>
                        </div>

                        <div class="tool-time">
                            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56">
                                <g transform="translate(-253.24 -218.529)">
                                    <path d="M281.241,218.529a28,28,0,1,0,28,28A28.032,28.032,0,0,0,281.241,218.529Zm0,50.815a22.815,22.815,0,1,1,0-45.63h0a22.815,22.815,0,0,1,0,45.63Z" fill="#262626" />
                                    <path d="M282.74,236.029h-5v15.5h15.5v-5h-10.5Z" transform="translate(1.273 0.909)" fill="#262626" />
                                </g>
                            </svg>


                            <h3>Time to complete</h3>
                            <p>Around 10 minutes</p>
                        </div>

                        <form>
                            <div class="form-buttons">
                                <div class="standardcta-button-wrapper standardcta-inline-button-wrapper">
                                    <div>
                                        <a data-value="section_1" class="theme-button theme-button-primary theme-button-small btn next">
                                            <span>Start now</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                
                <p class="alt-link">Or explore the <a href="#results-section">full list of grants and programs for business</a> below.</p>
            </div>
        </div>

    </div>

</div>
    
</div>




<!-- SECTION 1 - SUPPORT TYPE -->
<div class="finder_section" data-value="1" id="section_1">
<div class="finder-main-section main-section light" id="mainsection">  

    <div class="finder-wrapper c-wrapper c-wrapper-bg-transparent container-fluid layout top-of-page">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="finder-question multi-select">
                    <p class="section-title">1. Support type</p>
                    <h2>I am interested in</h2>
                    <p class="help-text">Select  one or more options</p>
                    <ul>
                        <li data-value="funding">Funding</li>
                        <li data-value="subsidy">Subsidy</li>
                        <li data-value="concession">Concession</li>
                        <li data-value="scholarship">Scholarship</li>
                        <li data-value="tax-rebate">Tax rebate</li>
                        <li data-value="advice">Advice</li>
                        <li data-value="mentorship">Mentorship</li>
                    </ul>
                </div>
                
                <form>
                    <div class="form-buttons">
                       <a class="previous" data-value="section_0">Previous</a>
                       
                        <div class="standardcta-button-wrapper standardcta-inline-button-wrapper">
                            <div>
                                <a data-value="section_2" class="next theme-button theme-button-primary theme-button-small btn">
                                    <span>Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

             
            </div>
        </div>

    </div>

</div>
</div>




<!-- SECTION 2 - OBJECTIVES -->
<div class="finder_section" data-value="2" id="section_2">
<div class="finder-main-section main-section light" id="mainsection">  

    <div class="finder-wrapper c-wrapper c-wrapper-bg-transparent container-fluid layout top-of-page">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="finder-question multi-select">
                    <p class="section-title">2. Business objectives</p>
                    <h2>I am looking for assistance to</h2>
                    <p class="help-text">Select  one or more options</p>
                    <ul>
                        <li data-value="build-or-improve-infrastructure-for-a-community">Build or improve infrastructure for a community</li>
                        <li data-value="employ-people">Employ people</li>
                        <li data-value="funding-for-training-and-skills-development">Funding for training and skills development</li>
                        <li data-value="import-or-export-products-or-services">Import or export products or services</li>
                        <li data-value="improve-or-grow-my-business">Improve or grow my business</li>
                        <li data-value="invest-money-in-other-businesses">Invest money in other businesses</li>
                        <li data-value="market-and-advertise-my-business">Market and advertise my business</li>


                        <li data-value="organise-a-community-event">Organise a community event</li>
                        <li data-value="employ-people">Prevent or recover from a natural disaster</li>
                        <li data-value="purchase-or-upgrade-equipment-vehicles-or-tools">Purchase or upgrade equipment, vehicles or tools</li>
                        <li data-value="recycle-waste-or-reduce-my-energy-use">Recycle waste or reduce my energy use</li>
                        <li data-value="research-and-develop-innovative-new-products-or-services">Research and develop innovative new products or services</li>
                        <li data-value="start-a-business">Start a business</li>
                        <li data-value="upgrade-restore-or-fit-out-a-building">Upgrade, restore or fit out a building</li>
                    </ul>
                </div>
                
                <form>
                    <div class="form-buttons">
                       <a class="previous" data-value="section_1">Previous</a>
                       
                        <div class="standardcta-button-wrapper standardcta-inline-button-wrapper">
                            <div>
                                <a data-value="section_3" class="next theme-button theme-button-primary theme-button-small btn">
                                    <span>Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

             
            </div>
        </div>

    </div>

</div>
</div>




<!-- SECTION 3 - INDUSTRY -->
<div class="finder_section" data-value="3" id="section_3">
<div class="finder-main-section main-section light" id="mainsection">  

    <div class="finder-wrapper c-wrapper c-wrapper-bg-transparent container-fluid layout top-of-page">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="finder-question single-select">
                    <p class="section-title">3. Industry</p>
                    <h2>My business is in the industry of</h2>
                    
                   <select id="sel_industry">
                        <option value="select-industry" selected="selected" disabled="">select industry</option>
                        <option value="accommodation-and-food-services" class="select-option">Accommodation and Food Services</option>
                        <option value="administrative-and-support-services" class="select-option">Administrative and Support Services</option>
                        <option value="agriculture-forestry-and-fishing" class="select-option">Agriculture, Forestry and Fishing</option>
                        <option value="arts-and-recreation-services" class="select-option">Arts and Recreation Services</option>
                        <option value="construction" class="select-option">Construction</option>
                        <option value="education-and-training" class="select-option">Education and Training</option>
                        <option value="electricity-gas-water-and-waste-services" class="select-option">Electricity, Gas, Water and Waste Services</option>
                        <option value="financial-and-insurance-services" class="select-option">Financial and Insurance Services</option>
                        <option value="health-care-and-social-assistance" class="select-option">Health Care and Social Assistance</option>
                        <option value="information-media-and-telecommunications" class="select-option">Information Media and Telecommunications</option>
                        <option value="manufacturing" class="select-option">Manufacturing</option>
                        <option value="mining" class="select-option">Mining</option>
                        <option value="professional-scientific-and-technical-services" class="select-option">Professional, Scientific and Technical Services</option>
                        <option value="public-administration-and-safety" class="select-option">Public Administration and Safety</option>
                        <option value="rental-hiring-and-real-estate-services" class="select-option">Rental, Hiring and Real Estate Services</option>
                        <option value="retail-trade" class="select-option">Retail Trade</option>
                        <option value="transport-postal-and-warehousing" class="select-option">Transport, Postal and Warehousing</option>
                        <option value="wholesale-trade" class="select-option">Wholesale Trade</option>
                        <option value="other-services" class="select-option">Other Services</option>
                    </select>
                    
                    
                    
                </div>
                
                <form>
                    <div class="form-buttons">
                       <a class="previous" data-value="section_2">Previous</a>
                       
                        <div class="standardcta-button-wrapper standardcta-inline-button-wrapper">
                            <div>
                                <a data-value="section_4" class="next theme-button theme-button-primary theme-button-small btn">
                                    <span>Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

             
            </div>
        </div>

    </div>

</div>
</div>




<!-- SECTION 4 - LOCATION -->
<div class="finder_section" data-value="4" id="section_4">
<div class="finder-main-section main-section light" id="mainsection">  

    <div class="finder-wrapper c-wrapper c-wrapper-bg-transparent container-fluid layout top-of-page">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="finder-question single-select">
                    <p class="section-title">4. Location</p>
                    <h2>My business is in located in postcode</h2>
                    <p class="help-text">Postcode must be 4 digits, eg 2000.</p>
                    <input type="Text" inputmode="numeric" maxlength="4" placeholder="0000" minlength="4" onfocus="this.placeholder = ''" id="postcode-filter" autocomplete="off" aria-label="postcode">
                </div>
                
                <form>
                    <div class="form-buttons">
                       <a class="previous" data-value="section_3">Previous</a>
                       
                        <div class="standardcta-button-wrapper standardcta-inline-button-wrapper">
                            <div>
                                <a data-value="section_5" class="next theme-button theme-button-primary theme-button-small btn">
                                    <span>Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

             
            </div>
        </div>

    </div>

</div>
</div>