<div class="shortlist-wrapper">
<p class="modal-close">Close</p>
<h2>Grants and programs shortlist <span class="shortlist-counter">0</span></h2>
    <div class="shortlist-links">
    <ul>
        <!--
        <li><a href="" >SMART Projects and Supply Chains</a>
        <p>The SMART Projects and Supply Chains service provides businesses with access to strategic or high-value projects that increase business capability, meet the specific needs of a market opportunity, or otherwise improve business performance and leadership capacity.</p></li>
        <li><a href="" >SMART Projects and Supply Chains</a>
        <p>The SMART Projects and Supply Chains service provides businesses with access to strategic or high-value projects that increase business capability, meet the specific needs of a market opportunity, or otherwise improve business performance and leadership capacity.</p></li>
        <li><a href="" >SMART Projects and Supply Chains</a>
        <p>The SMART Projects and Supply Chains service provides businesses with access to strategic or high-value projects that increase business capability, meet the specific needs of a market opportunity, or otherwise improve business performance and leadership capacity.</p></li>
-->


        </ul>
    </div>
    
    <div class="email-shortlist">
        <h3>Email your shortlist</h3>
               
                <form>
                    <label for="form-text-box-primary" class="form-text-box-primary-label">Enter your email address</label>
                    
                    <div class="text-box-button-combo-example" >

                        <input id="form-combo-box-primary" name="form-text-box-primary" type="text" value="" class="example-form-element">
                        
                        <div id="send-email" class="combo-button-wrapper primary-button-wrapper">
                            <div><btn id="primary-combo" class="combo-button primary-combo" aria-label="Primary button"><span>Email shortlist</span></btn></div>
                        </div>
                    </div>
                </form>
    </div>
</div>