/*  CHECKLIST PATTERN  */

// Checklist items & email button
.checklist-wrapper {

    position: relative;
    padding-top: 0;
    margin-bottom: 32px;
    
    .checklist-expand-all {
        margin-right: 24px;
        position: relative;
        min-height: 36px;
        
        .checklist-group-toggle-content {
            max-width: 96px;
            position: absolute;
            top: 0;
            right: 0;

            h5 {
                display: inline-block;
                color: $grey-darker;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .BgaIcon {
                display: inline-block;
                margin-left: 8px;
            }
            &:hover,
                &:focus {
                    border-bottom: solid #666666 2px;
                }    
        }    
    }


    .checklist-line {
        height: calc(100% - 115px);
        width: 3px;
        background: $grey;
        display: block;
        z-index: 0;
        position: absolute;
        margin: 48px 0 0 24px;

    }
    
    .checklist-item-divider {
            border-top: 2px solid $grey;
            width: calc(100% - 96px);
            margin: 16px 0 16px 80px;
            padding: 0;
        }


    .checklist-item {

        .checklist-item-title {

            background: $white url("../assets/Icon-chevron-down-blue.svg") no-repeat;
            background-position: right 24px center;
            background-size: 20px 12.5px;
            position: relative;
            padding: 24px 48px 24px 24px;
            margin-left: 64px;
            cursor: pointer;

            h2 {
                margin: 0;
                padding: 0;
                font-size: 26px;

                span {
                    position: absolute;
                    top: 20px;
                    left: -64px;
                    border-radius: 50%;
                    border: 3px solid $grey;
                    height: 48px;
                    width: 48px;
                    text-align: center;
                    line-height: 38px;
                    z-index: 100;
                    background: $white;
                }
            }
            &:hover {
                h2 {
                    text-decoration: underline;
                }
                background: url("../assets/Icon-chevron-down-hover-grey.svg") no-repeat;
                background-position: right 16px center;
                background-size: 36px 36px;  
            }
            &:active {
                background: url("../assets/Icon-chevron-down-active-grey.svg") no-repeat;
                background-position: right 16px center;
                background-size: 36px 36px; 
            }
        }

        &:last-of-type {
            .checklist-sub-item:last-of-type {
                &:after {
                    content: " ";
                    height: calc(100% - 32px);
                    width: 5px;
                    background: $white;
                    position: absolute;
                    z-index: 10;
                    top: 40px;
                    left: -56px;
                }
            }
        }

        .checklist-sub-item-wrapper {
            display: none;
            margin-left: 48px;
        }

        .checklist-sub-item {
            position: relative;
            margin-left: 16px;

            .checklist-item-content {
                background: #E5EDF7;
                padding: 16px 32px 32px 32px;
                position: relative;
                
                // Remove padding from last element of content box
                 > *:last-child {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                 > *:last-child li:last-of-type {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                h3 {
                    padding-right: 120px;
                }
                ul {
                    margin-left: 16px; 
                }
                a {
                    color: $blue-primary;
                    box-shadow: none;
                    border-bottom: 2px solid $blue-hyperlink;


                    &:hover {
                        text-decoration: none;
                        box-shadow: $grey-light 0px -20px 0px 0px inset;
                    }
                    &:active {
                        color: $black;
                    }
                }
                .feature-box {
                    height: auto;
                    border-top: none;
                    background: none;
                    padding: 32px;
                    border-top: 4px solid $yellow-secondary-mid;
                    background: #FFF7DF;
                    
                     > *:last-child {
                        padding-bottom: 0;
                        margin-bottom: 0;
                         
                        li:last-of-type {
                            padding-bottom: 0;
                            margin-bottom: 0;
                        }
                    }
                    .feature-box-title {
                        display: flex;
                        margin-bottom: 32px;
                        
                        h3 {
                            padding: 8px 0 0 0 !important;  
                        }
                    }
                    .feature-icon {
                        height: 56px;
                        
                        svg {
                            width: 56px;
                            height: 56px;
                            margin-right: 16px;
                        }
                    }
                }
                
                .inline-pathway-card {
                    display: block;
                    width: 100%;
                    transition-property: transform, -webkit-transform;
                    transition-duration: 0.4s, 0.4s;
                    transition-timing-function: ease, ease;
                    transition-delay: 0s, 0s;
                    background: #F6F9FC;
                    padding: 24px;
                    border: none;
                    border-top: 4px solid #b3c2d8;
                    font-family: "Open Sans", sans-serif;
                    text-decoration: none !important;
                    box-shadow: none;
                    color: #333333;
                    
                    &:hover {
                        background: #D5E2F2;
                        box-shadow: none;
                    }
                    .description {
                        margin: 0;
                        padding: 0 0 16px 0;
                        font-size: 16px;
                        line-height: 28px;
                        color: #254F90;
                        font-weight: 600;
                        text-decoration: underline;
                    }
                     .link-container {
                        position: relative;
                        display: flex;
                    }
                    .link-text {
                        font-size: 12px;
                        line-height: 24px;
                        text-transform: uppercase;
                        text-decoration: none;
                        margin: 0 0 0 8px;
                        padding: 0;
                        color: #333333;
                        @include font-format($font-family, $font-regular, normal);
                    }
                    .link-container .link-icon {
                        height: 16px;
                        width: 16px;
                        line-height: 1.3;
                 
                        svg {
                            fill: #254f90;
                        }
                    }
                }
                .inline-pathway-card:hover,
                .inline-pathway-card:focus {
                    .inline-pathway-card-content {
                        transform: translateX(1rem);
                    }
                    .description {
                        text-decoration: underline;
                    }
                    .link-text {
                        text-decoration: none;
                    }
                }
                
                .download-list {
                    .download-group {
                        padding-bottom: 2rem;
                        font-family: "Open Sans", sans-serif;
                    }
                    .download-item {
                        align-items: center;
                        display: flex;
                        padding-left: 0;
                        margin-right: 16px;
                        position: relative;
                        text-decoration: none;
                        background-color: transparent;
                        transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
                        
                        &:hover {
                        text-decoration: underline;
                        }
                    }
                    .icon-row {
                        max-width: 1200px;
                        display: flex;
                        flex-wrap: wrap;
                        
                        .download-icon {
                            height: 16px;
                            width: 16px;
                            display: inline-block;
                            fill: #254f90;
                            line-height: 0;
                            right: 0;
                        }
                    }
                    .download-group-heading {
                        color: #333;
                        font-size: 18px;
                        font-stretch: normal;
                        font-style: normal;
                        font-weight: 700;
                        letter-spacing: normal;
                        line-height: 1.33;
                        margin: 0 0 8px 0;
                    }
                    span {
                        font-weight: 600;
                        font-style: normal;
                        text-decoration: none !important;
                        font-size: 12px;
                        line-height: 2;
                        margin-left: 8px;
                        text-transform: uppercase;
                    }
                }
                
                .download-container {
                    margin-bottom: 32px;
                }
            }
            
            .checklist-item-checkbox {
                padding: 24px 32px;
                background: #bac8db;
                line-height: 1 !important;
                
                .checkbox-icon {
                    display: inline-block;
                }
                .displaynone {
                    display: none;
                }
                input[type="checkbox"] {
                    opacity: 0;
                    width: 28px !important;
                    height: 28px !important;
                    cursor: pointer;
                    display: none;
                }
                label {
                    padding: 0 0 0 6px;
                    display: inline;
                    font-weight: normal;
                }
            }            
        }

        
        &.open {
            &:last-of-type {
                .checklist-item-title:before {
                    height: 100%;  
                }
            }

            .checklist-item-title {
                background: #E5EDF7 url("../assets/Icon-chevron-up-blue.svg") no-repeat;
                background-position: right 24px center;
                border: none;

                h2 {
                    span {
                        background: $blue-primary;
                        border: 3px solid $blue-primary;
                        color: $white;
                    }
                }
                &:hover {
                    h2 {
                        text-decoration: underline;
                    }
                    background: #E5EDF7 url("../assets/Icon-chevron-up-hover-white.svg") no-repeat;
                    background-position: right 16px center;
                    background-size: 36px 36px;  
                }
                &:active {
                    background: #E5EDF7 url("../assets/Icon-chevron-up-hover-white.svg") no-repeat;
                    background-position: right 16px center;
                    background-size: 36px 36px; 
                }
            }

            .checklist-sub-item-wrapper {
                display: block;
            }
        }

        &.done {
            .checklist-item-title {
                h2 {
                    span {
                        text-indent: -9999px;
                        background: #297e28 url(../assets/icon-tick-white.svg) no-repeat;
                        border: #297e28 solid 3px;
                        background-position: center center;
                        background-size: 20px 16px;
                    }
                }
            }
            
            .checklist-item-checkbox {
                background: #b7ddb7;
                line-height: 1 !important;
            }
            .checkbox-icon {
                display: none !important;

                &.displaynone {
                    display: inline-block !important;
                }
            }
        }

    }

    // Media queries
    @media (max-width: 991px) {

        .checklist-line {
             width: 2px;
             margin: 48px 0 0 8px;
         }

        .checklist-item {

            .checklist-item-title {
                padding: 24px 56px 24px 24px;
                margin-left: 40px;

                h2 {
                    font-size: 24px;

                    span {
                        top: 22px;
                        left: -48px;
                        border: 3px solid $grey;
                        height: 36px;
                        width: 36px;
                        line-height: 1.9rem;
                    }
                }
            }
            &:last-of-type {
                .checklist-sub-item:last-of-type {
                    &:after {
                        left: -48px;
                    }
                }
            }

            .checklist-sub-item-wrapper {
                margin-left: 24px; 
            }

            .checklist-sub-item {

                &:before {
                    left: -59px;
                    top: 26px;
                }

                .checklist-item-content {
                    padding: 16px 24px 24px 24px;

                    h3 {
                        padding-right: 0;
                        width: 100%;
                    }
                }
            }

            .checklist-item-divider {
                border-top: 2px solid $grey;
                width: calc(100% - 72px);
                margin: 16px 0 16px 56px;
            }
        }  
    }

    @media (max-width: 767px) {

        .checklist-line {
            width: 2px;
            margin: 48px 0 0 8px;
            height: calc(100% - 130px);    
        }

        .checklist-item {
            .checklist-item-title {
                background-position: right 24px center;
                padding: 16px 56px 16px 24px;

                h2 {
                    font-size: 20px;
                    
                    span {
                        top: 11px;
                    }
                }
            }

            &:last-of-type {
                .checklist-sub-item:last-of-type {
                    &:after {
                        left: -48px;
                    }
                }
            }
            .checklist-sub-item-wrapper.step-minimised {

                .checklist-sub-item {

                    &:before {
                        top: 18px;
                    }
                    .checklist-item-content {
                        padding: 16px 24px 24px 24px;
                    }
                }
            }

             &.open {
                .checklist-item-title {
                    background-position: right 24px center;  
                }
            }
        }
    }

    @media (max-width: 575px) {
        .checklist-item {
            
            .checklist-item-title {
                padding: 16px 56px 16px 16px;
            }
             .checklist-item-divider {
                margin: 8px 0 8px 56px;
            }
            .checklist-sub-item-wrapper.step-minimised .checklist-sub-item {
                .checklist-item-content {
                    padding: 16px;
                }
            }
        }
    }


}
