.page-header-theme-tool {
    background: $tool-teal-mid;
    padding: 48px 15px !important;
    
    h1 {
        margin: 0;
        padding: 0; 
    }
    img {
        width: 100%;
        margin: -10px auto 0;
        display: block;
        max-width: 250px; 
    }
    @media (max-width: 767px){
        padding: 32px 15px 48px !important;
    }
    @media (max-width: 768px) {
        .header-image-wrapper {
            img {
                display: none;
            }
        }
    }
}
.top-of-page {
    padding-top: 0;
}

/* FINDER SECTION */
#section_0,
#section_1,
#section_2, 
#section_3,
#section_4,
#section_5,
#section_6, 
#section_7,
#section_8,
#section_9 {
    display: none;
}
#section_0 {
    display: block;
} 

.finder-main-section {
     background: $tool-teal-mid;
    
    &.light {
        background: $tool-teal-light;
    }
    
    .finder-wrapper { 
        h2 {
            padding: 0 0 32px 0;
        }
        
        .start-button-wrapper {
            background: $white;
            padding: 0px;
            margin-bottom: 32px;
            border-top: solid $tool-teal 4px;
            position: relative;
            
            .tool-start {
                padding: 32px;
                width: 66.666667%;               
            }
            .tool-time {
                padding: 32px;
                background: $tool-teal-light;
                position: absolute;
                top: 0;
                right: 0;
                width: 33.333333%;
                height: 100%;
            }
            
            .start-lead {
                font-size: 18px;
                line-height: 32px;
                padding: 0 0 16px 0;
                margin: 0 0 0 0;
                
                &:last-of-type {
                    padding: 0;
                }
            }
            .standardcta-button-wrapper {
                margin: 0;
            }
            form {
                text-align: left;
            }
        }
        
        .alt-link {
            font-size: 21px;
            line-height: 28px;
            
            a {
                color: $blue-primary-mid;
                cursor: pointer;
                
                &:hover, &:focus {
                    box-shadow: #fff 0px -30px 0px 0px inset;
                }
            }
        }
        
        .finder-question {
            padding: 32px 0;
            
            .section-title {
                text-transform: uppercase;
                font-size: 14px;
                padding-bottom: 16px;
            }
            h2 {
                padding: 0 0 8px 0;
            }
            .help-text {
                font-size: 14px;
                padding: 0;
            }
            
            ul {
                margin: 0;
                padding: 0;
                justify-content: center !important;
                text-align:center;
                
                li {
                    list-style: none;
                    font-size: 15px;
                    padding: 6px 16px 6px 32px;
                    background: url(../assets/Icon-finder-plus.svg) no-repeat $white;
                    background-position: left 12px center;
                    border: 2px solid $blue-primary-mid;
                    border-radius: 30px;
                    margin: 16px 16px 0 0;
                    line-height: 1.5;
                    cursor: pointer;
                    display: inline-block;
                    height: 40px;
                    box-sizing: border-box;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
                    
                    &::before {
                        content: none !important;            
                    }

                    &.selected {
                        color: $white;
                        background: $blue-primary-mid url(../assets/Icon-finder-tick-white.svg) no-repeat;
                        background-position: left 9px center;
                    }
                }
            }
            
            select {
                -o-appearance: none;
                -ms-appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                
                padding: 8px 56px 8px 16px;
                border-radius: 0;
                margin-top: 16px;
                font-size: 18px;
                border: none;
                border-bottom: solid 3px $blue-primary-mid;
                background: $white url(../assets/Icon-chevron-down-blue.svg) no-repeat;
                background-position: right 16px center;
                
                &:focus {
                    outline: none;
                }
                
            }
            
            input {
                padding: 8px 16px 8px 16px;
                border-radius: 0;
                margin-top: 16px;
                font-size: 18px;
                border: none;
                border-bottom: solid 3px $blue-primary-mid;
                background: $white;
                
                &#postcode {
                    width: 90px;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        
        form {
            margin: 0px 0px 32px 0;
            width: 100%;
            text-align: right;
            
            h3 {
                padding: 0 0 16px 0;
            }
            
            .form-buttons {

                &.right {
                    text-align: right;
                }
                a {
                    &:hover,
                    &:focus {
                        box-shadow: #fff 0px -30px 0px 0px inset;

                    }
                }
                .tertiary-link {
                    display: inline-block;
                    margin-right: 16px;
                }
                .previous {
                    color: $blue-primary-mid;
                }
                .start-again {
                    margin-right: 52px;
                    color: $blue-primary-mid;
                    position: relative;
                    
                    &:after {
                        background: url(../assets/Icon-refresh.svg) no-repeat;
                        content: " ";
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        top: 4px;
                        right: -22px;
                    }
                }
                .standardcta-button-wrapper {
                    margin: 0 0 0 32px;
                    min-height: 48px;
                    display: inline-block;

                    &:last-of-type {
                        margin-right: 0;
                    }

                    .theme-button-primary {
                        color: $white;
                        background: $blue-primary-mid;
                        border: $blue-primary solid 2px;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
                        display: block;
                        padding: 14px 56px 6px;

                        &:visited {
                            border: $blue-primary solid 2px;
                            background: $blue-primary-mid;
                        }

                        &:hover {
                            color: $white;
                            background: $blue-primary;
                            border: $blue-active solid 2px;
                        }
                    }

                    .theme-button-secondary {
                        color: $blue-primary-mid;
                        background: $white;
                        border: $blue-primary-mid solid 2px;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
                        display: block;
                        padding-top: 14px;

                        &:visited {
                            border: $blue-primary solid 2px;
                            background: $white;
                        }

                        &:hover {
                            color: $white;
                            background: $blue-primary;
                        }

                        &:active {}
                    }

                    @media (max-width: 576px) {
                        width: 60%;

                        .theme-button-secondary {
                            padding: 14px 8px 6px;
                        }
                        .standardcta-button-wrapper {
                            &:last-of-type {
                                margin: 0;
                            }
                        }
                    }
                }
        }
            
        }
        
        
        @media (max-width: 767px) {
            .start-button-wrapper {
                .tool-start {
                    width: 100%;
                }

                .tool-time {
                    width: 100%;
                    position: relative;
                    padding: 0 32px;
                    background: none;

                    svg {
                        display: none;
                    }
                }
            }
        }
        @media (max-width: 576px) {
            padding: 0;
            border: none; 
            margin: 0;
            
            > *:last-child {
                padding-bottom: 32px;
                margin-bottom: 0; 
            }
            
            form {
                width: 100%; 
                margin: 0px 32px 32px 32px;
                
                .standardcta-button-wrapper {
                    width: 100%;
                }
            }
        }
    }
    
    form {
    
        @media (max-width: 576px) {   
            .form-buttons {    
                .standardcta-button-wrapper {

                    &:last-of-type {
                        margin: 0;
                    }
                }
            }
        }
    }

}

/* GRANTS RESULTS SECTION */
.results-section {
    padding-top: 64px;
    padding-bottom: 32px;

    .results-title {
        display: flex;

        .showing-results {
            @include font-format($font-family, $font-regular, normal);
            font-size: 28px;
            margin-bottom: 16px;
            width: 80%;

            .number {
                @include font-format($font-family, $font-semibold, normal);
            }
        }
        .view-shortlist {
            background: none;
            padding: 0;
            margin: -10px 0 0 0;
            border: 0;
            width: 20%;
            text-align: right;
            
            &:focus {
                outline: none;
            }
            
            a {
                display: inline-block;
                width: 180px;
                position: relative;
                
                svg {
                    position: absolute;
                    left: 8px;
                    top: 8px;
                    fill: $blue-primary;
                }
                p {
                    display: block;
                    position: absolute;
                    width: 140px;
                    padding: 2px 8px;
                    left: 36px;
                    
                    span {
                        background: #2F70BF;
                        display: inline-block;
                        width: 26px;
                        border-radius: 25px;
                        color: $white;
                        text-align: center;
                        position: absolute;
                        right: 8px;
                        top: 2px;
                    }
                }
                
                &:hover {
                    svg {
                        fill: $white;
                    }
                    p {
                        color: $white;
                    }
                }
            }
        }
    }
    
    .filters {    
        margin-bottom: 16px;
        
        .filter-item {
            border-bottom: solid 1px $grey-light;
            padding: 16px 0;
            
            &:first-of-type {
                padding-top: 0;
            }
            
            .filter-item-title {
                position: relative;
                padding: 0;
                cursor: pointer;
    
                p {
                    text-transform: uppercase;
                    font-size: 16px;
                    padding: 0;
                    display: inline-block;
                }
                svg {
                    position: absolute;
                    top: calc(50% - 6px);
                    right: 0;
                }
                &.open {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
            
            .active-filters {
                padding: 0 0 0 0;
                ul {
                    margin: 0;
                    padding: 0;
                    
                    li {
                        list-style: none;
                        font-size: 13px;
                        padding: 6px 16px 6px 32px;
                        background: $tool-teal-mid;
                        border: 1px solid $tool-teal;
                        border-radius: 30px;
                        margin: 8px 8px 0 0;
                        line-height: 1;
                        cursor: pointer;
                        display: inline-block;
                        display: none;
                        
                        &.selected {
                            background: $tool-teal-mid url("../assets/Icon-cross-333333.svg") no-repeat;
                            background-size: 10px 10px;
                            background-position: left 12px center;
                            display: inline-block;
                            
                            
                        }
                    }
                }               
            }
            
            .filter-item-content {
                padding: 16px 0 0 0;
                display: none;
                
                .checkbox-item {
                    line-height: 28px;
                    display: block;
                    margin-bottom: 16px;
        
                    input {
                        opacity: 1;
                        width: 0;
                        height: 24px;
                        display: block;
                        position: absolute;
                    }    
                    label {
                        font-size: 14px;
                        line-height: 1.5;
                        @include font-format($font-family, $font-regular, normal);
                        position: relative;
                        padding-left: 42px;
                        cursor: pointer;
                        display: block;
                        padding: 0 0 0 32px;
                        margin-bottom: 0;
                        
                        &::before {
                            height: 24px;
                            width: 24px;
                            content: " ";
                            border: solid 1px $black-light;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                
                    &.selected {
                        label {
                            &::before {
                                position: absolute;
                                border: solid 2px $black-light;
                                background: url(../assets/Icon-tick-filters.svg) no-repeat;
                                background-position: center center;
                            }
                        }
                    }
                }
                
                select {
                    -o-appearance: none;
                    -ms-appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    
                    width: calc(100% - 24px);
                    padding: 6px 28px 6px 6px;
                    border-radius: 0;
                    font-size: 14px;
                    border: solid 1px $black-light;
                    background: url(../assets/Icon-chevron-down-333333.svg) no-repeat;
                    background-position: right 6px center;
                    background-size: 16px 10px;

                    &:focus {
                        outline: none;
                    }

                }
                
                input {
                    width: 100%;
                    max-width: 100%;
                    padding: 6px;
                    border-radius: 0;
                    font-size: 14px;
                    border: solid 1px $black-light;
                    
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
    
    .clear-filters {
        margin-bottom: 32px;
        
        
        a {
            text-decoration: underline;
            display: inline;
            position: relative;
            
            &:hover, &:focus {
                text-decoration: underline;
                font-weight: 600;
            }
        }
        svg {
            position: absolute;
            top: 4px; 
            right: -24px;
        }
    }
    .name-search {
        background: $grey-lighter;
        border-top: 4px solid $grey-light;
        padding: 24px;
        //margin-top: 32px;
        
        h4 {
            padding-top: 0px;
        }
        .search-wrapper {
            display: flex;
        }
        input {
            height: 52px;
            width: calc(100% - 52px);
            border: none;
            outline: none;
            padding: 6px 12px;
        }
        
        button {
            background: $blue-primary-mid;
            border: none;
            outline: none;
            height: 52px;
            width: 52px;
            border-bottom-right-radius: 6px;
            border-top-right-radius: 6px;
            
            svg {
                fill: $white;
            }
        }
    }
        
    .results-wrapper {
        
        .search-card-button {
            &:hover {
                text-decoration: none;
            }
        }
        .search-card-result {
            border-top: 4px solid $blue-primary-mid;
            padding: 0px;
            background-color: $white;
            margin-bottom: 24px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
            box-sizing: border-box;
            display: block;
            transition-delay: 0s;
            transition-duration: 0.2s;
            transition-property: transform;
            transition-timing-function: ease-in;
        }
        .search-card-content {
            &:active {
                background: $white;
            }
            .top-row {
                display: flex;
                padding: 0 0 32px 0;
                
                .search-card-content-type {
                    font-size: 12px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.5;
                    letter-spacing: 1px;
                    color: #333;
                    text-transform: uppercase;
                    text-align: left;
                    padding: 0;
                    width: calc(100% - 128px);
                }
                .shortlist {
                    display: flex;
                    background: none;
                    border: none;
                    position: relative;
                    text-align: left;
                    padding: 0 32px 0 0;
                    
                    &:focus {
                        outline: none;
                    }
                    
                    p {
                        font-size: 12px;
                        padding: 0;
                        line-height: 1.5;
                        @include font-format($font-family, $font-semibold, normal);
                        text-align: right;
                        display: block;
                        width: 140px;
                    }
                    svg {
                        position: absolute;
                        top: -6px;
                        right: 0;
                        
                        &.remove-from-shortlist {
                            display: none;
                        }
                    }
                    &.shortlisted {
                        svg.remove-from-shortlist {
                            display: block;
                        }
                    }
                }
            }
            .search-card-heading {
                font-size: 18px;
                font-weight: 600;
                line-height: 1.56;
                text-align: left;
                margin-bottom: 0;
                
                a {
                    color: $blue-primary-mid;
                }
            }
            .search-card-body {
                font-size: 14px;
                line-height: 1.71;
                color: #333;
                padding-bottom: 16px;
            }
            .search-card-footer {
                svg {
                    display: inline-block;
                    margin-right: 4px;
                }
                p {
                    font-size: 12px;
                    letter-spacing: normal;
                    color: $grey-darker;
                    overflow-wrap: break-word;
                    word-break: break-word;
                    display: inline-block;
                    padding: 5px 0 0 0;
                }
            }
        }
        
        .search-accordion-expand-wrapper {
            .grant-expand-title {
                width: 100%;
                padding:0;
                border: none;
            
                .accordion-title {
                    display: flex;
                    padding: 24px;
                    background-color: #4569a0;
                    p {
                        color: $white;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 1;
                        font-style: normal;
                        width: calc(100% - 16px);
                        padding: 0;
                    }
                    svg {
                        fill: $white;
                        transform: rotate(180deg);
                    }  
                }
                
                &.collapsed {
                   .accordion-title svg {
                        transform: rotate(0deg);
                    }
                }
            }
            .card {
                border: none;
            }
            .card-body {
                background-color: #f0f8ff;
                padding: 20px;
                margin-bottom: 0;
                border-radius: none;
                outline: none;
                
                .accordion-expand-contents {
                    .accordion-grant-content-heading {
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 2;
                        color: #333;
                        padding-bottom: 16px;
                    }
                    .accordion-grant-content-description {
                        font-size: 14px;
                        font-weight: normal;
                        color: #333;
                        padding-bottom: 16px;
                    }
                }
                
            }
        }
    }
}


/* SHORTLIST MODAL */
.shortlist-wrapper {
    display: none;
    height: 80%;
}
.shortlist-wrapper.active {
    display: block;
    position: fixed;
    width: 900px;
    padding: 64px 32px 32px 32px;
    top: 10%;
    left: calc(50% - 450px);
    background: $white;
    z-index: 7000;
    box-shadow: 0 .125rem .375rem 0 rgba(0, 0, 0, .5); 
    border-top: solid $blue-primary-mid 4px;
    
    .modal-close {
        text-indent: -9999px;
        height: 24px;
        width: 24px;
        background: url(../assets/Icon-cross-blue.svg) no-repeat;
        position: absolute;
        right: 32px;
        top: 32px;
        cursor: pointer;
    }
    
    .shortlist-links {
        height: auto;
        max-height: calc(100% - 260px);
        overflow-y: scroll;
        padding: 16px;
        //box-shadow: inset 0 0 5px $grey;
        background: $grey-lighter;
        
        .empty-shortlist {
            display: block;
            p {
                margin-bottom: 0px;
            }
            &.inactive {
                display: none;
            }
        }
    }
    
    h2 {
        position: relative;
        padding-right: 40px;
        padding: 0 50px 32px 0;
        display: inline-block;
        
        span {
            width: 32px;
            height: 32px;
            font-size: 18px;
            border-radius: 25px;
            background: #2F70BF;
            display: inline-block;
            color: $white;
            text-align: center;
            line-height: 1.7;
            position: absolute;
            top: 6px;
            right: 0;
        }
    }
    h3 {
        margin-bottom: 0;
    }
    
    p {
        font-size: 16px;
        margin-bottom: 32px;

        &.last {
            margin-bottom: 0;
        }   
    }
    ul {
        margin: 0;
        padding: 0;
        
        li {
            list-style-type: none;
            padding: 0;
            
            a {
                color: $blue-primary-mid;
                text-decoration: underline;
                @include font-format($font-family, $font-semibold, normal);
                font-size: 18px;
            }
            p {
                margin: 8px 0 8px 24px;
                font-size: 14px;
                padding: 0 0 16px 0;
            }
            
            
            span {
                background: url(../assets/Icon-cross-333333.svg) no-repeat; 
                background-size: 14px 14px;
                content: " ";
                height: 14px;
                width: 14px;
                margin-right: 12px;
                display: inline-block;
                cursor: pointer;
            }
        }
    }
    
    .email-shortlist {
        //border-top: solid 1px $black-light;
        padding-top: 16px;
    }
    

    .text-box-button-combo-wrapper {
        input:focus, input:active {
            border: solid 3px $blue-primary;
        }
    }
    
    label {
        width: 100%;
        display: block;
        font-size: 16px;
        padding: 0 0 16px 0;
        margin: 0;
        @include font-format($font-family, $font-regular, normal);
        }

    .text-box-button-combo-example {
        display: flex;
    
        input {
            outline: none;
            border: solid 1px $blue-primary;
            display: inline-block;
            vertical-align: middle;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            height: 52px;
            width: calc(100% - 200px);
            max-width: 400px;
            padding: 10px 16px;
        }
        .combo-button-wrapper {   
            #form-combo-box-primary {
                width: calc(100% - 190px); 
            }

            .combo-button {
                background: $blue-primary-mid url(../assets/send-white.svg) no-repeat;
                background-position: left 22px center;
                color: $white;
                border: solid 3px $blue-primary;
                border-left: 0px;
                margin-left: -5px;
                border-radius: 6px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                box-shadow: none;
                height: 52px;
                display: block;
                border: solid 1px #495C74;
                margin: 0 0 0 -6px;
                padding: 10px 22px;
                text-align: right;
                font-family: "Open Sans", sans-serif;
                font-weight: 600;
                font-style: normal;
                text-decoration: none;
                line-height: 1.8rem;
                cursor: pointer;
                width: 190px;

                &:hover {

                    background-position: left 22px center;
                }
                &:active {

                    background-position: left 22px center;
                }
            }
        }

    }
}
.modal-background {
    display: none;
}
.modal-background.active {
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(51, 51, 51, .5);
    position: fixed;
    z-index: 6999;
}
