---
layout: finder
title: Grants and programs finder
breadcrumb1: Grants and programs
breadcrumb2: 
url1: 
url2: 
---


<!-- RESULTS SECTION -->
<div class="results-section c-wrapper c-wrapper-bg-transparent container-fluid layout">
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <div class="results-title">
                <h2 class="showing-results">Showing <span class="number">508</span> grants and programs</h2>
                <button class="view-shortlist">
                    <a class="theme-button theme-button-secondary theme-button-small btn disabled">
                    
                        <svg class="remove-from-shortlist" xmlns="http://www.w3.org/2000/svg" width="27" height="25.998" viewBox="0 0 27 25.998">
                        <path d="M27,9.907l-9.707-.848L13.5,0,9.707,9.072,0,9.907l7.371,6.472L5.157,26l8.343-5.1L21.843,26l-2.2-9.619Z" />
                    </svg>

                    <p>Shortlist <span class="shortlist-btn-counter">0</span></p>
                    </a>
                </button>
            </div>
          
        </div>
    </div>
    

    
    <div class="row">
        <div class="col-4">
            {% include filters.html %}
        </div>
        
        <div class="col-8">
            <div class="results-wrapper">

                <div class="search-card-result">
                  
                            <div class="search-result-card search-card-content">
                                <div class="search-card-standard-content">
                                    <div class="top-row">
                                        <p class="search-card-content-type" aria-hidden="true">SMART Projects and Supply Chains</p>
                                        {% include shortlist_btn.html %}
                                    </div>
                                    <h5 class="search-card-heading"><a href="">Access to projects that increase business performance or meet the needs of a market opportunity</a></h5>
                                    <p class="sr-only">SMART Projects and Supply Chains</p>
                                    <p class="search-card-body">The SMART Projects and Supply Chains service provides businesses with access to strategic or high-value projects that increase business capability, meet the specific needs of a market opportunity, or otherwise improve business performance and leadership capacity.</p>
                                </div>
                                <div class="search-card-footer">
                                    <svg width="16" height="16">
                                        <path fill="#209b57" d="M0 9.937l1.901-1.935 3.354 3.362 8.86-8.855 1.918 1.905L5.255 15.192z"></path>
                                    </svg>
                                    <p>Open</p>
                                </div>
                                        
                                </div>
                            
                        
                        <div class="search-accordion-expand-wrapper">
                            <div class="collapse" id="" style="">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="accordion-expand-contents">
                                            <div>
                                                <p class="accordion-grant-content-heading">Who is this for?</p>
                                                <p class="accordion-grant-content-description">You must be a company participating in an identified project run by one of our growth facilitators.</p>
                                            </div>
                                            <div>
                                                <p class="accordion-grant-content-heading">What you get?</p>
                                                <p class="accordion-grant-content-description">A facilitator will provide advice, guidance, and network connections, and you may also be able to access a matched Growth Grant of up to $20,000 to action recommendations from your participation in the project.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><button aria-label="Who can apply - content expands above" class="grant-expand-title collapsed" data-toggle="collapse" aria-expanded="false" >
                                <div class="accordion-title"><p>Who can apply</p>
                                   <svg width="16" height="16" class="">
                                            <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                                        </svg>
                            </div>
                            </button>
                        </div>
                    </div>
              
                
                <div class="search-card-result">

            <div class="search-result-card search-card-content">
                <div class="search-card-standard-content">
                    <div class="top-row">
                        <p class="search-card-content-type" aria-hidden="true">SMART Projects and Supply Chains 2</p>
                        {% include shortlist_btn.html %}
                    </div>
                    <h5 class="search-card-heading"><a href="">Access to projects that increase business performance or meet the needs of a market opportunity</a></h5>
                    <p class="sr-only">SMART Projects and Supply Chains</p>
                    <p class="search-card-body">The SMART Projects and Supply Chains service provides businesses with access to strategic or high-value projects that increase business capability, meet the specific needs of a market opportunity, or otherwise improve business performance and leadership capacity.</p>
                </div>
                <div class="search-card-footer">
                    <svg width="16" height="16">
                        <path fill="#209b57" d="M0 9.937l1.901-1.935 3.354 3.362 8.86-8.855 1.918 1.905L5.255 15.192z"></path>
                    </svg>
                    <p>Open</p>
                </div>

                </div>


        <div class="search-accordion-expand-wrapper">
            <div class="collapse" id="" style="">
                <div class="card">
                    <div class="card-body">
                        <div class="accordion-expand-contents">
                            <div>
                                <p class="accordion-grant-content-heading">Who is this for?</p>
                                <p class="accordion-grant-content-description">You must be a company participating in an identified project run by one of our growth facilitators.</p>
                            </div>
                            <div>
                                <p class="accordion-grant-content-heading">What you get?</p>
                                <p class="accordion-grant-content-description">A facilitator will provide advice, guidance, and network connections, and you may also be able to access a matched Growth Grant of up to $20,000 to action recommendations from your participation in the project.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><button aria-label="Who can apply - content expands above" class="grant-expand-title collapsed" data-toggle="collapse" aria-expanded="false" >
                <div class="accordion-title"><p>Who can apply</p>
                   <svg width="16" height="16" class="">
                            <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                        </svg>
            </div>
            </button>
        </div>
    </div>



                <div class="search-card-result">

            <div class="search-result-card search-card-content">
                <div class="search-card-standard-content">
                    <div class="top-row">
                        <p class="search-card-content-type" aria-hidden="true">SMART Projects and Supply Chains 3</p>
                        {% include shortlist_btn.html %}
                    </div>
                    <h5 class="search-card-heading"><a href="">Access to projects that increase business performance or meet the needs of a market opportunity</a></h5>
                    <p class="sr-only">SMART Projects and Supply Chains</p>
                    <p class="search-card-body">The SMART Projects and Supply Chains service provides businesses with access to strategic or high-value projects that increase business capability, meet the specific needs of a market opportunity, or otherwise improve business performance and leadership capacity.</p>
                </div>
                <div class="search-card-footer">
                    <svg width="16" height="16">
                        <path fill="#209b57" d="M0 9.937l1.901-1.935 3.354 3.362 8.86-8.855 1.918 1.905L5.255 15.192z"></path>
                    </svg>
                    <p>Open</p>
                </div>

                </div>


        <div class="search-accordion-expand-wrapper">
            <div class="collapse" id="" style="">
                <div class="card">
                    <div class="card-body">
                        <div class="accordion-expand-contents">
                            <div>
                                <p class="accordion-grant-content-heading">Who is this for?</p>
                                <p class="accordion-grant-content-description">You must be a company participating in an identified project run by one of our growth facilitators.</p>
                            </div>
                            <div>
                                <p class="accordion-grant-content-heading">What you get?</p>
                                <p class="accordion-grant-content-description">A facilitator will provide advice, guidance, and network connections, and you may also be able to access a matched Growth Grant of up to $20,000 to action recommendations from your participation in the project.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><button aria-label="Who can apply - content expands above" class="grant-expand-title collapsed" data-toggle="collapse" aria-expanded="false" >
                <div class="accordion-title"><p>Who can apply</p>
                   <svg width="16" height="16" class="">
                            <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                        </svg>
            </div>
            </button>
        </div>
    </div>



                <div class="search-card-result">

            <div class="search-result-card search-card-content">
                <div class="search-card-standard-content">
                    <div class="top-row">
                        <p class="search-card-content-type" aria-hidden="true">SMART Projects and Supply Chains 4</p>
                        {% include shortlist_btn.html %}
                    </div>
                    <h5 class="search-card-heading"><a href="">Access to projects that increase business performance or meet the needs of a market opportunity</a></h5>
                    <p class="sr-only">SMART Projects and Supply Chains</p>
                    <p class="search-card-body">The SMART Projects and Supply Chains service provides businesses with access to strategic or high-value projects that increase business capability, meet the specific needs of a market opportunity, or otherwise improve business performance and leadership capacity.</p>
                </div>
                <div class="search-card-footer">
                    <svg width="16" height="16">
                        <path fill="#209b57" d="M0 9.937l1.901-1.935 3.354 3.362 8.86-8.855 1.918 1.905L5.255 15.192z"></path>
                    </svg>
                    <p>Open</p>
                </div>

                </div>


        <div class="search-accordion-expand-wrapper">
            <div class="collapse" id="" style="">
                <div class="card">
                    <div class="card-body">
                        <div class="accordion-expand-contents">
                            <div>
                                <p class="accordion-grant-content-heading">Who is this for?</p>
                                <p class="accordion-grant-content-description">You must be a company participating in an identified project run by one of our growth facilitators.</p>
                            </div>
                            <div>
                                <p class="accordion-grant-content-heading">What you get?</p>
                                <p class="accordion-grant-content-description">A facilitator will provide advice, guidance, and network connections, and you may also be able to access a matched Growth Grant of up to $20,000 to action recommendations from your participation in the project.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><button aria-label="Who can apply - content expands above" class="grant-expand-title collapsed" data-toggle="collapse" aria-expanded="false" >
                <div class="accordion-title"><p>Who can apply</p>
                   <svg width="16" height="16" class="">
                            <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                        </svg>
            </div>
            </button>
        </div>
    </div>


        
            </div>
                
            </div>
        </div>
    </div>
